{% Prolonge  'layout.twig' %}

{% block  body %}
	<h1> Voitures </h1>
	<h1> Liste des voitures </h1>
	<a href="/brands/create">Cree une Marque</a>
	<table  class = "table">
		<thead>
			<th> Nom </th>
			<th> Carburant </th>
			<th> Marque </th>

      <tbody>
        {% for car in cars %}
        <tr>
          <td>{{ car.name }}</td>
          <td>{{ car.fuel }}</td>
          <td>{{ car.brand.name }}</td>
        </tr>
        {% endfor %}
    </tbody>
		</thead>

	</table>
{%  endblock  %}
