{% extends 'layout.twig' %}

{% block body %}
	<div class="col-md-6 offset-md-3">
		<a href="/cars">
			Précédent
		</a>
		<h1>Créer une marque</h1>
		<form method="post" action="/brands/create">
			<input
				type="text"
				name="name"
				class="form-control"
				placeholder="Saisissez le nom"
			>
			<br>
			<button class="btn btn-primary">
				Sauvegarder
			</button>
		</form>
	</div>
{% endblock %}
