{% extends 'layout.twig' %}

{% block body %}
	<div class="col-md-6 offset-md-3">
		<a href="/cars">
			Précédent
		</a>
		<h1>Editer la marque {{ brand.name }}</h1>

		<form method="post" action="/brands/{{ brand.id }}/edit">
			<input
				type="text"
				name="name"
				class="form-control"
				placeholder="Saisissez le nom"
				value="{{ brand.name }}"
			>
			<br>
			<button class="btn btn-primary">
				Sauvegarder
			</button>
		</form>
	</div>
{% endblock %}
